<%= form_for(@result) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :race_id %><br />
    <%= f.collection_select :race_id, Race.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.number_field :position %>
  </div>
  <div class="field">
    <%= f.label :driver_id %><br />
    <%= f.collection_select :driver_id, Driver.all, :id, :full_name %>
  </div>
  <div class="field">
    <%= f.label :grid %><br />
    <%= f.number_field :grid %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
