<!DOCTYPE html>
<html>
<head>

</head>

<body>

<%= currently_at 'Home'%>

<h2 class="theme2011">

		<span class="mainTitle"> 2013 FORMULA 1 PETRONAS MALAYSIA GRAND PRIX </span>
		<span class="subInfo"> 22 - 24 March 2013 </span>

</h2>

<table border="0" cellspacing="10" cellpadding="2" color="#6495ed">

<tr>
  <td rowspan="2"><%= image_tag("formula1.jpg")%></td>
  <td><%= image_tag("home_top_left.jpg")%></td>
  <td><%= image_tag("home_top_right.jpg")%></td>  
</tr>
<tr>
  <td><%= image_tag("home_bottom_left.jpg")%></td>
  <td><%= image_tag("home_bottom_right.jpg")%></td>  
</tr>
</table>

</body>

</html>
