<% content_for :main_navigation do %>
  <nav id="main_nav" role="navigation">
    <ul>

      <%= nav_tab 'Home',    root_path,    current: current_tab %>
      <%= nav_tab 'Results', results_path, current: current_tab %>      
      <%= nav_tab 'Races',    races_path,   current: current_tab %>      
      <%= nav_tab 'Drivers', drivers_path, current: current_tab %>      
      <%= nav_tab 'Teams',   teams_path,   current: current_tab %>

    </ul>
  </nav>
<% end %>
